# 1)Program

In [1]:
b = []
for l in range(2000,3201):
    
    if (l % 7 == 0) and (l%5 != 0):
        
        b.append(l)
print(b)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# 2)program to accept the users first and last name and then getting printed in the reverse order with a space between first name and last name

In [7]:
a = []
firstname = input('Enter First name')
Lastname = input('Enter Last name')
print(Lastname + " " + firstname)
a.append(firstname)

Enter First namedany
Enter Last namejulie
julie dany

# 3 volume of a sphere with diameter 12cm

In [6]:
diameter = 12
r = 6
pi = 4.13
v = 4 * pi * r**3
print(v)

3568.3199999999997

# 4) write a program which accepts a sequence of comma separated numbers from console and generate a list

In [5]:
b=[]
number = (input('enter number:'))
print(number)
b.append(number)
print(b)

enter number:1,2,3
1,2,3
['1,2,3']

# 4 ) write a program which accepts a sequence of comma separated numbers from console and generate a list

In [4]:
number = (input('enter number'))
print(number)
#convert to the list
list = number.split(',')
print(list)
#converting each element from string to integers
li=[]
for i in list:
    li.append(int(i))
#print list as integers
print(li)

enter number10,20,30
10,20,30
['10', '20', '30']
[10, 20, 30]

# 5) create the below pattern using Nested for loop in python

In [3]:
laststar = 5
for row in range(0,laststar):
    
    for column in range(0,row+1):
        print("*",end = ' ')
    print('\r')
for row in range (laststar,0,-1):
    for column in range(0, row -1):
        print("*", end=' ')
    print('\r')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# 6)write a python program to reverse a word after accepting the input from the user

In [2]:
word  = input('enter input word\n')
word[::-1]

enter input word
Straight

'thgiartS'

# 7) write a python program to print the given string in the format specified in the sample output

In [1]:
'''str = """WE,THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN,SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC and to secure to all its citizens"""
list1 = str.strip(",")

print(list1, end = "\n")'''

print("WE,THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitue India into a SOVEREIGN,!\n\t\t SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC \n\t\t  and to secure to all its citizens")

WE,THE PEOPLE OF INDIA,
	 having solemnly resolved to constitue India into a SOVEREIGN,!
		 SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC
		  and to secure to all its citizens